{% extends 'petugas/base_petugas.html' %}

{% block title %}Tambah Transaksi{% endblock %}

{% block content %}

<div class="wrapper">

  <div class="card">

    <h1>Tambah Transaksi</h1>

    <p class="subtitle">
      Edit/update data transaksi
    </p>

    <form>

      <label>Barang</label>
      <input type="text" placeholder="Masukkan Barang">

      <label>Kategori</label>
      <input type="text" placeholder="Masukkan Kategori">

      <label>Lokasi</label>
      <input type="text" placeholder="Masukkan Lokasi">

      <label>Transaksi</label>
      <input type="text" placeholder="Masukkan Transaksi">

      <label>Jumlah</label>
      <input type="text" placeholder="Masukkan Jumlah">

      <div class="actions">

        <button type="button" class="btn">
          Batal
        </button>

        <button type="submit" class="btn btn-primary">
          Simpan
        </button>

      </div>

    </form>

  </div>

</div>

{% endblock %}