{% extends 'petugas/base_petugas.html' %}
{% block title %}Tambah Transaksi{% endblock %}
{% block content %}

<div class="container-box">
  <h2>Tambah Transaksi</h2>
  <div class="subtitle">Edit/update data transaksi</div>
  <form>
    <div class="mb-3">
      <label>Barang</label>
      <input type="text" class="form-control">
    </div>

    <div class="mb-3">
      <label>Kategori</label>
      <input type="text" class="form-control">
    </div>

    <div class="mb-3">
      <label>Lokasi</label>
      <input type="text" class="form-control">
    </div>

    <div class="mb-3">
      <label>Transaksi</label>
      <input type="text" class="form-control">
    </div>

    <div class="mb-3">
      <label>Jumlah</label>
      <input type="text" class="form-control">
    </div>

    <div class="btn-group-custom">
      <button type="button" class="btn btn-batal">Batal</button>
      <button type="submit" class="btn btn-simpan">Simpan</button>
    </div>
  </form>

</div>
{% endblock %}