{% extends 'admin/base.html' %}
{% block title %}Dashboard{% endblock %}
{% block content %}

<div class="header">
  <h3>Dashboard</h3>
  <p>Selamat datang, Admin</p>
</div>

<!-- CARDS -->
<div class="cards">

  <div class="card-box">
    <div class="card-icon blue"></div>
    <h2>1</h2>
    <p>Total Barang</p>
  </div>

  <div class="card-box">
    <div class="card-icon green"></div>
    <h2>1</h2>
    <p>Total Petugas</p>
  </div>

  <div class="card-box">
    <div class="card-icon yellow"></div>
    <h2>1</h2>
    <p>Total Kategori</p>
  </div>

  <div class="card-box">
    <div class="card-icon red"></div>
    <h2>1</h2>
    <p>Total Transaksi hari ini</p>
  </div>

</div>

<!-- TABLE -->
<div class="table-box">
  <h5>Notifikasi</h5>

  <table>
    <thead>
      <tr>
        <th>Lokasi</th>
        <th>Nama Barang</th>
        <th>Kategori</th>
        <th>Stok</th>
        <th>Kondisi</th>
        <th>Tanggal</th>
        <th>Aksi</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>Ruang A</td>
        <td>Laptop Asus</td>
        <td>Elektronik</td>
        <td>15</td>
        <td>Baik</td>
        <td>9/4/2026</td>
        <td>
          <button class="btn-edit">Edit</button>
          <button class="btn-hapus">Hapus</button>
        </td>
      </tr>

      <tr>
        <td>Ruang B</td>
        <td>Meja</td>
        <td>Furniture</td>
        <td>15</td>
        <td>Baik</td>
        <td>9/4/2026</td>
        <td>
          <button class="btn-edit">Edit</button>
          <button class="btn-hapus">Hapus</button>
        </td>
      </tr>

      <tr>
        <td>Ruang B</td>
        <td>Kursi</td>
        <td>Furniture</td>
        <td>20</td>
        <td>Rusak</td>
        <td>9/4/2026</td>
        <td>
          <button class="btn-edit">Edit</button>
          <button class="btn-hapus">Hapus</button>
        </td>
      </tr>

      <tr>
        <td>Ruang A</td>
        <td>Monitor LG</td>
        <td>Elektronik</td>
        <td>10</td>
        <td>Baik</td>
        <td>9/4/2026</td>
        <td>
          <button class="btn-edit">Edit</button>
          <button class="btn-hapus">Hapus</button>
        </td>
      </tr>

      <tr>
        <td>Ruang B</td>
        <td>Laptop Acer</td>
        <td>Elektronik</td>
        <td>5</td>
        <td>Rusak</td>
        <td>9/4/2026</td>
        <td>
          <button class="btn-edit">Edit</button>
          <button class="btn-hapus">Hapus</button>
        </td>
      </tr>

    </tbody>
  </table>
</div>

{% endblock %}