{% extends 'admin/base.html' %}

{% block title %}Data Petugas{% endblock %}

{% block content %}

  <!-- CONTENT -->
  <div class="content">

    <h2 class="mb-4"><b>Data Petugas</b></h2>

    <!-- SEARCH & BUTTON -->
    <div class="d-flex justify-content-between align-items-center mb-4">

        <div class="search-bar w-50">
            <input type="text" class="form-control" placeholder="Cari Petugas....">
        </div>

        <button class="btn btn-add text-white">
            + Tambah Petugas
        </button>

    </div>

    <!-- TABLE -->
    <div class="card-box-data_barang">

        <table class="table-data_barang">

            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nama Petugas</th>
                    <th>Id Lokasi</th>
                    <th>Nama Lokasi</th>
                    <th>Aksi</th>
                </tr>
            </thead>

            <tbody>

                <tr>
                    <td>1234</td>
                    <td>Andi</td>
                    <td>123</td>
                    <td>Ruang A</td>
                    <td>
                        <button class="btn-edit">Edit</button>
                        <button class="btn-hapus">Hapus</button>
                    </td>
                </tr>

                <tr>
                    <td>1234</td>
                    <td>Andi</td>
                    <td>123</td>
                    <td>Ruang B</td>
                    <td>
                        <button class="btn-edit">Edit</button>
                        <button class="btn-hapus">Hapus</button>
                    </td>
                </tr>

                <tr>
                    <td>1234</td>
                    <td>Budi</td>
                    <td>123</td>
                    <td>Ruang A</td>
                    <td>
                        <button class="btn-edit">Edit</button>
                        <button class="btn-hapus">Hapus</button>
                    </td>
                </tr>

                <tr>
                    <td>1234</td>
                    <td>Angga</td>
                    <td>123</td>
                    <td>Ruang A</td>
                    <td>
                        <button class="btn-edit">Edit</button>
                        <button class="btn-hapus">Hapus</button>
                    </td>
                </tr>

            </tbody>

        </table>

    </div>

</div>

{% endblock %}