{% extends 'admin/base.html' %}

{% block title %}Tambah Data Petugas{% endblock %}

{% block content %}

  <div class="container">
    <h1>Tambah Data Petugas</h1>
    <div class="subtitle">Isi data Petugas</div>

    <form>
      <label>Nama Petugas</label>
      <input type="text" />

      <label>Lokasi</label>
      <input type="text" />

      <div class="actions">
        <button type="button" class="btn">Batal</button>
        <button type="submit" class="btn btn-primary">Simpan</button>
      </div>
    </form>
  </div>

  {% endblock%}