{% extends 'base.html' %}

{% block title %}Login Admin{% endblock %}

{% block content %}

<div class="login-container">

    <!-- LEFT SIDE -->
    <div class="login-left">

        <h1>WELCOME</h1>

        <h3>
            SISTEM INVENTARIS <br>
            BARANG
        </h3>

        <p>
            Kelola data barang, stok, transaksi,
            dan laporan inventaris dengan
            lebih mudah, cepat terorgeniir
        </p>

    </div>

    <!-- RIGHT SIDE -->
    <div class="login-right">

        <!-- ICON USER -->
        <div class="user-login">
            <i class="bi bi-person-fill"></i>
        </div>

        <!-- LOGIN FORM -->
        <div class="login-box">

            <h2 class="login-title">
                Login Admin
            </h2>

            <form method="POST">

                <input
                    type="text"
                    name="username"
                    placeholder="Username"
                    required
                >

                <input
                    type="password"
                    name="password"
                    placeholder="Password"
                    required
                >

                <button type="submit" class="btn-login">
                    Login
                </button>

            </form>

        </div>

    </div>

</div>

{% endblock %}