{% extends 'admin/base.html' %}

{% block title %}Login Admin{% endblock %}

{% block content %}

  <div class="container">

    <!-- KIRI -->
    <div class="left">
      <div class="left-content">
        <h2>WELCOME</h2>
        <h4>SISTEM INVENTARIS<br>BARANG</h4>
        <p>
          Kelola data barang, stok, transaksi,<br>
          dan laporan inventaris dengan<br>
          lebih mudah, cepat tergenair
        </p>
      </div>
    </div>

    <!-- KANAN -->
    <div class="right">

      <h2>Login Admin</h2>

      <div class="input-group">
        <input type="text" placeholder="Username">
      </div>

      <div class="input-group">
        <input type="password" placeholder="Password">
      </div>

      <button class="btn">Login</button>

    </div>

  </div>

{% endblock%}